*,
*::before,
*:after {
  box-sizing: border-box;
}

/* burası değişecek container falan filan*/

body {
  background-color: #cfcfcf61;
  background-color: #32a8de;
  background-color: #3cc2ff;
  background-color: #de3240;
}

.logo {
  display: block;
  width: 60%; /* desktop version da küçült */
  margin: 0 auto;
}

.form__container {
  display: flex;
  justify-content: space-evenly;
}

.pokecard__container {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 1em;
}

.pokecard {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* min-height: 16rem; */
  border-radius: 30px;
  background-color: #fefefe;
  transition: all 0.4s ease-out;
}

.pokecard:hover,
.pokecard:focus-within {
  transition: all 0.4s ease-out; /* orjinali 0.2s*/
  box-shadow: 0px 8px 12px rgba(38, 38, 38, 0.2);
  background-color: black;
  color: #fefefe;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: initial;
}

/* .pokemonpage__background {
  z-index: -1;
  opacity: 0.05;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(160deg);
  color: white;
  width: 1000px;
} */

.pokemonpage,
.pokemonpage__column--container,
.errorpage,
.column,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonpage__header {
  margin: 1em 0;
}

.errorpage {
  margin: 0.5em;
}

.errorpage h1 {
  font-size: 5rem;
  margin: 0;
}
.errorpage img {
  max-width: 500px;
  width: 100%;
}

/*/////////////// 
    Components 
///////////////*/
.pokemon__image {
  display: block;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pokemon__id {
  margin: 0;
}

.pokemon__name {
  margin: 0.5em 0;
  text-transform: capitalize;
  text-align: center;
}

.pokemon__types {
  display: flex;
  justify-content: space-evenly;
  margin: 1em auto;
  width: 8rem;
}

.pokemon__size {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  font-size: 14px;
}

.pokemon__size span {
  font-weight: bold;
}

.pokemon__entry {
  color: #ffffff;
  font-size: 1.25rem;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
  max-width: 80%;
  margin: 4rem auto 4rem;
}

.pokemon__evolution--chain {
  display: flex;
  flex-direction: column;
}

.pokemon__evolution--stage {
  color: #ffffff;
  margin: 0.5em 1.5em;
}

.pokemon__evolution--stage img {
  width: 115px;
}

.arrow {
  /* display: block; */
  font: normal 2.5rem/1 "Arial Unicode MS", "Trebuchet MS", "Arial", "Helvetica",
    sans-serif;
  text-align: center;
}

.arrow::before {
  content: "↓";
}

@media (min-width: 768px) {
  .arrow::before {
    content: "→︎";
  }
}

/* hides first arrow from evolution chain*/
.pokemon__evolution--chain div:first-child .pokemon__evolution--stage .arrow {
  display: none;
}

/* Radar Chart*/
.chart__container {
  width: 100%;
  min-width: 350px;
}

.btn {
  padding: 1em 2em;
  margin: 1em;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 800;
  font-size: 1em;
  transition: all 0.4s ease-out;
}

.btn:hover,
.btn:focus-within {
  background-color: black;
  color: white;
}

/*/////////////// 
    Tablet View 
///////////////*/
@media (min-width: 768px) {
  .pokecard__container {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

  .pokemon__image {
    width: 80%;
  }

  .chart__container {
    max-width: 500px;
  }

  .pokemon__evolution--chain {
    flex-direction: unset;
  }

  .pokemon__evolution--chain .arrow {
    margin-right: 1em;
  }

  .pokemon__evolution--stage {
    display: flex;
    align-items: center;
  }
}

/*/////////////// 
    Desktop View 
///////////////*/
@media (min-width: 990px) {
  .logo {
    width: 20%;
  }
  .pokecard__container {
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }

  .pokemonpage__column--container {
    flex-direction: row;
    align-items: flex-start;
  }

  .pokemonpage__header {
    margin: 0 0 1em;
  }

  .pokemon__image {
    width: 70%;
  }

  .pokemon__entry {
    margin: 4rem auto 0;
  }

  .column {
    width: 50%;
  }

  .pokecard .pokemon__image {
    width: 100%;
  }
}
